/* p {
    color: white !important
} */


/* Inicio */

.inicio {
    /* top: 142px;
    position: relative; */
    padding: 0
}


/* Banner */

.main-banner {
    background-image: url("../../../assets/img/main-banner/fondo1.png");
    background-repeat: repeat;
    background-position: center;
    height: 480px;
    width: auto;
    position: relative;
}

.pan,
.main-banner .mancha-1,
.main-banner .mancha-2,
.wheat1,
.wheat2,
.wheat,
.wheat3,
.wheat4,
.wheat5,
.desc-banner,
.delivery-banner {
    display: inline-block;
    position: absolute;
}

.pan {
    top: 125px;
    right: 150px;
}

.pan img {
    display: inline-block;
    height: 250px;
}

.main-banner .mancha-1 {
    top: 0px;
    right: 90px;
}

.main-banner .mancha-1 img {
    display: inline-block;
    height: 155px;
    transform: rotate(27deg);
}

.main-banner .mancha-1 div {
    position: inherit;
    top: 40px;
    right: 27px;
    font-size: 20px;
}

.main-banner .mancha-1 p,
.main-banner .mancha-2 p {
    margin-bottom: 0;
    font-family: gobold-uplow;
}

.main-banner .mancha-2 {
    top: 5px;
    left: 90px;
}

.main-banner .mancha-2 img {
    display: inline-block;
    height: 195px;
}

.main-banner .mancha-2 div {
    position: inherit;
    top: 27px;
    left: 105px;
    font-size: 30px;
    transform: rotate(-27deg);
}

.wheat1 {
    right: 305px;
    top: 30px;
}

.wheat2 {
    right: 105px;
    bottom: 30px;
}

.wheat {
    right: 500px;
    top: 55px;
}

.wheat3 {
    left: 300px;
    bottom: 20px;
}

.wheat4 {
    left: 50px;
    top: 120px;
}

.wheat5 {
    left: 85px;
    bottom: 10px;
}

.desc-banner {
    font-family: gobold-uplow;
    color: white;
    top: 190px;
    left: 50px;
}

.desc-banner p {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}

.desc-banner .desc {
    font-size: 50px;
    font-weight: 900;
}

.boton-banner {
    text-align: center;
}

.boton-banner a {
    border-radius: 30px;
    background-color: #cfa03a;
    -moz-box-shadow: 0px 9px 40px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 40px 2px rgba(0, 0, 0, 0.75);
}

.boton-banner a:hover {
    background-color: #b18c3c
}

.delivery-banner {
    font-family: gobold-uplow;
    color: white;
    top: 330px;
    left: 450px;
}

.delivery-banner p {
    margin: 0;
    text-align: center
}


/* Mapa delibery Background*/

.background_map {
    background-image: url("../../../assets/img/mapa-delibery.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 330px;
    color: white;
    margin-top: 15px
}

.background_map h2,
.background_map li {
    font-weight: 700;
    text-shadow: 1px 1px #2d2a23
}

.background_map h2 {
    font-size: 40px;
}

.background_map ul {
    padding-left: 0
}

.background_map li {
    list-style: none;
    font-family: gobold-uplow;
    font-size: 20px;
    line-height: 40px;
}


/* Texto del map */

.col-12 {
    padding-top: 20px
}

.background_map .col-12 div {
    padding-top: 20px;
    float: right;
    margin-right: 80px;
}


/* Inicio Productos */

.productos {
    color: white
}


/* Cards */


/* .card-deck {
    margin: 50px 10%;
}

mdb-card-body {
    background-color: #212121 !important
}

.btn-color {
    background: #cfa03a;
    font-family: gobold-uplow;
}

.btn-color:hover {
    background: #b18c3c;
    color: #fff;
} */