p {
    color: white
}

.footer {
    padding: 0
}

.footer-logo {
    text-align: center;
    padding-top: 50px;
}

.border-top {
    border-top: 3px solid white !important
}

.contacto {
    margin-top: 50px;
    border-bottom: 3px solid white !important;
    padding-bottom: 20px;
}

.contacto p {
    margin-top: 20px !important;
    font-family: gobold-uplow
}

.contactos {
    display: inline-block;
    padding: 18px !important;
    margin-right: 0 !important
}

.contactos mdb-icon {
    font-size: 45px !important;
}

.delivery {
    margin-top: 40px
}

.delivery p {
    font-family: gobold-uplow;
}

.delivery img {
    float: right
}

.delivery h2 {
    color: white !important;
    margin-bottom: 20px;
}

.delivery p {
    font-family: gobold-uplow;
}

.copy-right {
    color: white;
    margin-top: 15px
}