<!-- Footer -->

<div class="container-fluid footer wow">
    <div class="row m-10x100-lateral border-top">
        <div class="col-12 footer-logo">
            <img src="assets/img/logo.png" height="160" alt="Logo Epan">
        </div>
    </div>
    <!-- Inicio Contactos -->
    <div class="row m-10x100-lateral justify-content-center contacto">
        <div class="col-3" style="text-align: center">
            <a class="nav-link social-style contactos">
                <mdb-icon fas icon="envelope"></mdb-icon>
            </a>
            <p>
                contacto@epan.cl
            </p>
        </div>
        <div class="col-3" style="text-align: center">
            <a class="nav-link social-style contactos">
                <mdb-icon fas icon="phone-alt"></mdb-icon>
            </a>
            <p>
                +56 9 9777 0460
            </p>
        </div>
    </div>
    <!-- Contacto Fin -->
    <!-- Inicio titulo delivery -->
    <div class="titulo">
        <h2 style="color: white">
            HORARIOS DELIVERY
        </h2>
    </div>
    <!-- Inicio titulo delivery -->
    <div class="row m-10x100-lateral delivery">
        <div class="col-12 col-md-6">
            <img src="assets/img/delivery.png" height="160" alt="delivery">
        </div>
        <div class="col-12 col-md-6">
            <h2>
                TODOS LOS DÍAS
            </h2>
            <p>06:00 a 08:00</p>
            <p>17:00 a 20:00</p>
        </div>
    </div>
    <div height="200" class="copy-right m-10x100-lateral">
        <p>
            Desarrollado por ©Waap
        </p>
    </div>
</div>